@model ActivosModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (TempData["MensajeOk"] != null)
{
    <div class="alert alert-success text-center">
        @TempData["MensajeOk"]
    </div>
}
@if (TempData["MensajeError"] != null)
{
    <div class="alert alert-danger text-center">
        @TempData["MensajeError"]
    </div>
}
<div class="content-wrap mt-5 p-3">
    <div class="main">
        <div class="container-fluid overflow-hidden">
            <div class="row g-0">
                <div class="col-12">
                    <div class="card-header bg-secondary"><h3 class="text-white">Agregar Activo</h3></div>
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <div class="table-responsive">
                                <form asp-action="AgregarActivo" asp-controller="Activos">
                                    <div class="row g-5 p-3">
                                        <div class="col-md-6 d-flex flex-column">

                                            <div class="mb-3">
                                                <label for="nombreActivo" class="form-label">Nombre de activo:</label>
                                                <input asp-for="nombreActivo" type="text" class="form-control">
                                                <span asp-validation-for="nombreActivo" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label for="serie" class="form-label">Serie:</label>
                                                <input asp-for="serie" type="text" class="form-control">
                                                <span asp-validation-for="serie" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label class="form-label">Responsable:</label>
                                                <select id="usuarioFilter" class="form-control" asp-for="idUsuario" name="idUsuario">
                                                    <option value="">Seleccionar...</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-6 d-flex flex-column">
                                            <div class="mb-3">
                                                <label for="placa" class="form-label">Placa:</label>
                                                <input asp-for="placa" type="number" class="form-control">
                                                <span asp-validation-for="placa" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label for="descripcion" class="form-label">Descripción:</label>
                                                <input asp-for="descripcion" type="text" class="form-control">
                                                <span asp-validation-for="descripcion" class="text-danger"></span>
                                            </div>
                                            <div class="mb-3">
                                                <label for="idDepartamento" class="form-label">Departamento:</label>
                                                <select asp-for="idDepartamento" id="departamentoFilter" class="form-control">
                                                    <option id="departamentoFilter" value="0">Seleccionar...</option>
                                                </select>
                                                <span asp-validation-for="idDepartamento" class="text-danger"></span>
                                            </div>
                                            <div class="d-flex align-self-end mt-2">
                                                <button type="submit" class="btn btn-primary">Agregar</button>
                                            </div>
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        $('#departamentoFilter, #usuarioFilter').select2({
            placeholder: function(){
            return $(this).find('option:selected').text();
            },
            allowClear: false,
            width: '100%'
        });
        function parseOrZero(val) {
                return val && val !== "" ? parseInt(val, 10) : 0;
        }

        //obtener departamentos
        function cargarDepartamentos() {
           const $sel = $('#departamentoFilter');
           const pre = parseOrZero($sel.data('selected'));

           // reset
           $sel.empty()
                    .append(`<option value="0"${pre===0?' selected':''}>Seleccionar</option>`);

           $.ajax({
              url: '@Url.Action("ObtenerListaDepartamento", "Login")',
              type: 'GET',
              success: function (items) {
              items.forEach(function (d) {
              const sel = pre === d.idDepartamento ? ' selected' : '';
              $sel.append(`<option value="${d.idDepartamento}"${sel}>${d.nombreDepartamento}</option>`);
           });
                    // refresca Select2
           $sel.trigger('change');
           },
           error: function () {
              console.error('Error al cargar departamentos');
            }});
        }

              //obtener usuarios tecnicos
              function cargarUsuariosResponsables() {
                const $sel = $('#usuarioFilter');
                const pre = parseOrZero($sel.data('selected'));

                // reset
                $sel.empty()
                    .append(`<option value="0"${pre===0?' selected':''}>Seleccionar</option>`);

                    $.ajax({
                      url: '@Url.Action("ObtenerUsuarios", "Usuarios")',
                      type: 'POST',
                       data: {
                          nombreCompleto: "",
                          cedula:         "",
                          idDepartamento: 0,
                          idRol:          0
                        },
                      success: function (items) {
                        console.log(items);
                        items.forEach(function (d) {
                          const sel = pre === d.idUsuario ? ' selected' : '';
                          $sel.append(`<option value="${d.idUsuario}"${sel}>${d.nombreCompleto}</option>`);
                        });
                        $sel.trigger('change');
                      },
                      error: function () {
                        console.error('Error al cargar usuarios');
                      }
                    });
              }

            cargarDepartamentos();
            cargarUsuariosResponsables();
        });
</script>