<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gestor de Activos</title>

    <!-- Estilos -->
    <link href="~/assets/css/lib/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="~/assets/css/lib/themify-icons.css" rel="stylesheet">
    <link href="~/assets/css/lib/weather-icons.css" rel="stylesheet">
    <link href="~/assets/css/lib/menubar/sidebar.css" rel="stylesheet">
    <link href="~/assets/css/lib/helper.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/lib/data-table/dataTables.bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/select2/css/select2.min.css">
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

</head>

<body class="h-100">



    <!-- Barra Lateral -->
    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures" style="min-width: 200px; min-height: 100vh">
        <div class="nano">
            <div class="nano-content">
                <ul>
                    <div class="logo"><a href="#"><span>Gestor Activos</span></a></div>
                    <hr>
                    <li class="label">Principal</li>
                    <li><a asp-controller="Activos" asp-action="ListaActivos"><i class="ti-view-list-alt"></i>Lista de Activos</a></li>
                    <li><a asp-controller="Activos" asp-action="AgregarActivo"><i class="ti-plus"></i>Agregar Activo</a></li>
                    <hr>
                    <li class="label">Responsables</li>
                    <li><a href="#"><i class="ti-user"></i>Lista de Responsables</a></li>
                    <li><a href="#"><i class="ti-plus"></i>Agregar Responsable</a></li>
                    <hr>
                    <li class="label">Ticketes</li>
                    <li><a asp-controller="Ticket" asp-action="ListaTicket"><i class="ti-view-list-alt"></i>Lista de Ticketes</a></li>
                    <li><a asp-controller="Ticket" asp-action="AgregarTicket"><i class="ti-plus"></i>Crear Ticket</a></li>
                    <hr>
                    <li class="label">Historial</li>
                    <li><a href="#"><i class="ti-align-left"></i>Historial de Activos</a></li>
                    <li><a href="#"><i class="ti-align-left"></i>Historial de Mantenimiento</a></li>
                    <li><a href="#"><i class="ti-align-left"></i>Historial de Responsables</a></li>
                    <hr>
                    <li class="label">Administrador</li>
                    <li><a href="#"><i class="ti-key"></i>Gestionar Permisos</a></li>
                    <hr>
                    <li><a href="#"><i class="ti-close"></i> Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <style>
        .row {
            overflow-x: hidden !important;
            max-width: 100% !important;
        }
    </style>

    <!-- Contenido Principal -->
    <div class="main-content" style="margin-inline-start: 240px">
        @RenderBody()
    </div>

    <!-- Scripts -->
    <script src="~/vendor/select2/js/select2.full.min.js"></script>
    <script src="~/js/plugins-init/select2-init.js"></script>
    <script src="~/assets/js/lib/jquery.nanoscroller.min.js"></script>
</body>
</html>
